midi-player {
    display: block;
    width: inherit;
    margin: 4px;
    margin-bottom: 0;
}

midi-player::part(control-panel) {
    /* background: #252a34; */
    border: 2px solid #000;
    border-radius: 10px 10px 0 0;
}

midi-player::part(play-button) {
    color: #222;
    border: 2px solid currentColor;
    background-color: #ddd;
    border-radius: 20px;
    transition: all 0.2s;
    content: 'hello';
}

midi-player::part(play-button):hover {
    color: #000;
    background-color: #fff;
    border-radius: 10px;
}

midi-player::part(time) {
    font-family: monospace;
}

/* Custom visualizer style */
midi-visualizer .piano-roll-visualizer {
    /* background: #252a34; */
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 4px;
    margin-top: 0;
    overflow: auto;
}

midi-visualizer svg rect.note {
    opacity: 0.6;
    stroke-width: 2;
}

midi-visualizer svg rect.note[data-instrument="0"] {
    fill: #1c71d8;
    /* stroke: #500; */
}

#inp midi-visualizer svg rect.note[data-instrument="0"] {
    fill: #444;
    /* stroke: #500; */
}

#inp midi-visualizer svg rect.note[data-instrument="1"] {
    fill: #1c71d8;
    /* stroke: #055; */
}

midi-visualizer svg rect.note[data-is-drum="true"] {
    fill: #888;
    /* stroke: #888; */
}

midi-visualizer svg rect.note.active {
    opacity: 0.9;
    stroke: #000;
}

